.ladder-rung:nth-of-type(1) { top: -120px; transform: translateZ(0); }
.ladder-rung:nth-of-type(2) { top: -66px; transform: translateZ(-7px); }
.ladder-rung:nth-of-type(3) { top: -12px; transform: translateZ(-14px); }
.ladder-rung:nth-of-type(4) { top: 42px; transform: translateZ(-21px); }
.ladder-rung:nth-of-type(5) { top: 96px; transform: translateZ(-28px); }
.ladder-rung:nth-of-type(6) { top: 150px; transform: translateZ(-35px); }
.ladder-rung:nth-of-type(7) { top: 204px; transform: translateZ(-42px); }
.ladder-rung:nth-of-type(8) { top: 258px; transform: translateZ(-49px); }
.ladder-rung:nth-of-type(9) { top: 312px; transform: translateZ(-56px); }
.ladder-rung:nth-of-type(10) { top: 366px; transform: translateZ(-63px); }
.ladder-rung:nth-of-type(11) { top: 420px; transform: translateZ(-70px); }
.ladder-rung:nth-of-type(12) { top: 474px; transform: translateZ(-77px); }
.ladder-rung:nth-of-type(13) { top: 528px; transform: translateZ(-84px); }
.ladder-rung:nth-of-type(14) { top: 582px; transform: translateZ(-91px); }
.ladder-rung:nth-of-type(15) { top: 636px; transform: translateZ(-98px); }
.ladder-rung:nth-of-type(16) { top: 690px; transform: translateZ(-105px); }
.ladder-rung:nth-of-type(17) { top: 744px; transform: translateZ(-112px); }
.ladder-rung:nth-of-type(18) { top: 798px; transform: translateZ(-119px); }
